.page {
  display: grid;
  gap: var(--space-6);
  padding-block: var(--space-8) var(--space-11);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: var(--space-4);
  flex-wrap: wrap;

  > div {
    display: grid;
    gap: var(--space-2);
  }
}

.results {
  display: grid;
  gap: var(--space-5);
}

.grid {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.list {
  grid-template-columns: 1fr;
}
